.ui-btn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    line-height: 1;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

.angle-4 {
    border-radius: 4px;
}

.ui-btn.equal {
    padding: 3% 3.2%;
    line-height: 1;
}

.ui-btn.font-l, .ui-btn.font-l:after {
    font-size: 30px;
}

.ui-btn:after {
    position: absolute;
    display: block;
}

.ui-btn, .ui-btn:after {
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.ripping {
    overflow: hidden;
    pointer-events: auto;
}

.ripping:after {
    -webkit-transform: scale(0) translate(-50%, -50%);
    -moz-transform: scale(0) translate(-50%, -50%);
    -ms-transform: scale(0) translate(-50%, -50%);
    -o-transform: scale(0) translate(-50%, -50%);
    transform: scale(0) translate(-50%, -50%);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-color: #fff;
    width: 0%;
    height: 0%;
    content: " ";
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
}

.ripping:active:after {
    background-color: rgba(255, 255, 255, 0.35);
    opacity: .65;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    -webkit-transition-delay: -0.1s;
    -moz-transition-delay: -0.1s;
    -ms-transition-delay: -0.1s;
    -o-transition-delay: -0.1s;
    transition-delay: -0.1s;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

*[class*="round-"] {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

*[class*="round-"]:active {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.05), 0 2px 12px 0 rgba(0, 0, 0, 0.15), 0 1px 8px 0 rgba(0, 0, 0, 0.18), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

*[class*="round-"]:after,
*[class*="round-"] {
    border-radius: 50% !important;
    overflow: hidden;
}

.round-s {
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    padding: 3%;
}

.round-ss {
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    padding: 3.2%;
}

.round-m {
    width: 24px;
    height: 24px;
    font-size: 24px !important;
    line-height: 24px;
    text-align: center;
    padding: 3%;
}

.round-ml {
    width: 32px;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding: 3%;
}

.round-l {
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    padding: 3%;
}

.ui-btn.floating {
    -webkit-transform: translate(0%, -90%);
    -moz-transform: translate(0%, -90%);
    -ms-transform: translate(0%, -90%);
    -o-transform: translate(0%, -90%);
    transform: translate(0%, -90%);
    position: relative;
    z-index: 1;
}
