/*vmin-抓取長vh或寬vw較小的那個的百分比;vh-view height螢幕可視範圍高度的百分比;vw-view width螢幕可視範圍寬度的百分比*/
.mh-100 { min-height: 100vmin;}
.mh-90 { min-height: 90vmin;}
.mh-80 { min-height: 80vmin;}
.mh-70 { min-height: 70vmin;}
.mh-60 { min-height: 60vmin;}
.mh-50 { min-height: 50vmin;}
.mh-40 { min-height: 40vmin;}
#page {
    overflow: hidden;
}
#top {
    width: 45px;
    height: 45px;
    display: none;
    text-align: center;  /*把文本排列到中間*/
    line-height: 24px;
    font-size: 24px;
    /*元素指定的任何內距和邊框都將在已設定的寬度和高度內進行繪製,從已設定的寬度和高度分別減去邊框和內邊距才能得到內容的寬度和高度*/
    -webkit-box-sizing: border-box;  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0 8px 0;  /*高度等於45-24/2*/
    position: fixed;
    right:  15px; /*定位元素右外邊距邊界與其包含塊右邊界之間的偏移*/
    bottom: 8vh;
}
.scolldown {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    /*排列方式以inline的方式呈現,但擁有block的屬性,可以設定寬高,上下外距等屬性,如<img>,display:inline-block元素不會換行*/
    display: inline-block; 
    left: calc(50% - 25px);
    content: " ";  /*定義元素之前或之後放置的生成內容*/
    background-image: url("../images/mouse.svg")
        -webkit-background-size: cover;  /*把背景圖像擴展至足夠大,使背景圖像完全覆蓋背景區域*/
    background-size: cover;
    background-position: center center;  /*背景圖像的起始位置*/
    background-repeat: no-repeat;
    top: -80px;
    -webkit-transition: all ease .35s;  /*規定慢速開始，然後變快，然後慢速結束的過渡效果*/
    -o-transition: all ease .35s;
    transition: all ease .35s;
    -webkit-transform: scale(.9); /*允許我們對元素進行旋轉、縮放、移動或傾斜*/
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
}
.scolldown:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    /*rgba(red, green, blue, alpha),alpha參數是介於0.0（完全透明）與1.0（完全不透明）的數字*/
    -webkit-filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.25)); 
    -o-filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.25));
    filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.25));
}
/*overlay*/
.panal-overlay {  /*面板-覆蓋*/
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    float: none;
    background-color: rgba(0,0,0,0.85);
    z-index: 0;
    overflow: hidden;
}  
.bottom-layer {  /*底部-層*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    float: left;
    overflow: hidden;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-elm {
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*當頁面的其餘部分滾動時,背景圖像不會移動*/
}
#page.bg-elm {
    background-attachment: scroll;  /*背景圖像會隨著頁面其餘部分的滾動而移動*/
    background-position: right bottom;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}
.layer-top {
    position: relative;
    overflow: hidden;
    -webkit-transition: all linear .1s;  /*linear規定以相同速度開始至結束的過渡效果*/
    -o-transition: all linear .1s;
    transition: all linear .1s;
}
.bottom-layer svg.pd-box, svg.content-svg, .bottom-layer svg.pd-box *, svg.content-svg *, .bottom-layer * {
    -webkit-transition: all linear .35s;  /*linear規定以相同速度開始至結束的過渡效果*/
    -o-transition: all linear .35s;
    transition: all linear .35s; 
}
header h1.pd-box {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px);
    transform: translateX(15px);
}
.fc {
    color: #F29018;
}
.bold{  /*對.tw的字體(中文或內建文字)有作用,對引入的font無效*/
    font-weight: bold;
}
.mid{  /*對.tw的字體(中文或內建文字)有作用,對引入的font無效*/
    font-weight: 600;
}
.bottom-layer svg.pd-box svg.content-svg {
    display: block;
    width: 100%;
    min-height: 60vmin;  /*抓取長vh或寬vw較小的那個的百分比*/
}
svg.content-svg {
    min-height: 40vmin;
}
.bottom-layer text, svg.content-svg text {
    line-height: 1;
    position: relative;
    z-index: -1;
    pointer-events: none; /*滑鼠移過去沒有動作 ex:有做a連結時,使滑鼠移過去不會有手指出現*/
    display: block;
    width: 100%;
}
.bottom-layer text .small {
    font-size: 18px;
}
svg.content-svg text .small {
    font-size: 60px;
}
header.__matchBg {
    -webkit-box-sizing: border-box;  
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    /*瀏覽器怪癖測試*/
    /*padding: 16vmax 0;*/
    padding: 32vmin 0;
    /*padding: 16% 0;*/
    position: relative;
    /*min-height: 76vmin;*/
    /*padding: 28vh 0;*/
}
.maga-title {
    float: left;
    width: 100%;
    font-size: 7.5vw;
    line-height: 1.1;
    text-transform: uppercase;  /*僅有大寫字母*/
    text-shadow: 1px 2px 0 rgba(0,0,0,0.15);  /*h-shadow水平陰影的位置 v-shadow垂直陰影的位置 blur模糊的距離 陰影的顏色*/
}
.mega-title *, full-pages-title * {
    font-size: 30px;
    line-height: 1;
}
.mega-title [class*="icon-quote"] { /*quote引用*/
    font-size: 60px;
    line-height: 60px;
}
h1.full-pages-title {
    width: 100%;
    float: left;
    font-size: 15vw;
    line-height: 0.8;
    -webkit-box-sizing: border-box;  
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    padding-left: 15px;
    padding-right: 15px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2),
        2px 2px 0 rgba(0,0,0,0.18),
        4px 4px 4 rgba(0,0,0,0.15),
        6px 6px 6 rgba(0,0,0,0.11),
        10px 10px 10 rgba(0,0,0,0.08),
        20px 20px 10 rgba(0,0,0,0.05),
        30px 30px 10 rgba(0,0,0,0.03);

}
h1.full-pages-title > sub {
    font-size: 70px;
    line-height: 1;
    vertical-align: middle;  
    /*設置元素的垂直對齊方式:元素放置在父元素的中部*/
} 

h1.full-pages-title > * {
    font-size: 70px;
    line-height: 1;
/*    vertical-align: middle;  */
    /*設置元素的垂直對齊方式:元素放置在父元素的中部*/
} 
h1.app-title {
    font-size: 16vw;
    line-height: 1;
}
.small-font {
    font-size: 90%;
    line-height: 1;
}
h1 .small-font {
    font-size: 22px;
    line-height: 1;
}
top-space-50 {
    padding-top: -webkit-calc(30% + 3em);
    padding-top: -moz-calc(30% + 3em);
    padding-top: -o-calc(30% + 3em);
    padding-top: calc(30% + 3em);
}
.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    opacity: .7;
}
.mask2 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    opacity: .5;
}
.vid-outer, .vid-outer * {
    -webkit-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;  
    background-image: transparent;    /*背景顏色為透明。*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.vid-outer, .vid-outer.device {  /*device設計,設備*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 0;
    display: block;
    position: relative;
    margin: 0;
    padding-bottom: 62.5%;
    overflow: hidden;
}
.vid-outer video, .vid-outer #video, .vid-outer iframe, .vid-outer.device * {
    position: absolute;
    top: -10px;
    right: 0;
    bottom: 0;
    left: 0;
    /*width: 100%*/
    min-width: 100%;
    height: 100%;
}
.svg-logo {
    width: 80%;
}

.svg-logo img {
    width: 100%;
    display: block;
    margin: 10px 10px 10px 10px;
}

.svg-logo.idx {
    max-width: 400px;
    display: block;
    margin: 0 auto;
}
.svg-logo.sub {
    width: 90%;
    max-width: 300px;
    margin: 50px 20px 10px 1%;
    display: inline-block;
}
.light-iframe {
    position: relative;
}
.light-iframe iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
/*cover global setting*/
.vid-outer.device * {
    top: 0;
}
.vid-outer.device {
    padding-bottom: 57%;
}
/*url('../images/vid-mb-bg.jpg')*/
video {
    background: transparent no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*fill是填充當前的圖像（路徑）*/
/**[class1="logo"] {
display: inline-block;
max-width: 80px;
max-height: 80px;
margin: 0;
fill: #E51284;  
background-image: url("../images/logo.png");
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}*/
span.logo {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0;
    content: " ";
    /*    background-image: url("../images/logo.svg")*/
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.footerlogo {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 10px 0 -10px 0;
    /*    content: " ";*/
    /*    background-image: url("../images/footerlogo.svg")*/
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo-group {
    widows: 80%;
    max-width: 260px;
    min-height: 55px;
    display: block;
    margin: 0 auto;
    content: " ";
    background-image: url("../images/full-logo.png");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}
.logo-group.fix {
    width: 80%;
    max-width: 220px;
    min-height: 60px;
    margin-top: 40px;
    margin-left: 15px;
    margin-bottom: 0px;
    float: none;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.link-arrow {  /*arrow箭頭*/
    display: block;
    width: 80px;
    height: 50px;
    background-image: url("../images/triangle-arrow.png");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}
.link-arrow * {
    display: block;
}
.reversal-arrow { /*reversal反轉 arrow箭頭*/
    -webkit-transition: all ease .35s;
    -o-transition: all ease .35s;
    transition: all ease .35s;
    -webkit-transform: rotate(-180deg) translateX(1px);
    -ms-transform: rotate(-180deg) translateX(1px);
    -o-transform: rotate(-180deg) translateX(1px);
    transform: rotate(-180deg) translateX(1px);
    -webkit-transform-origin: 50% 50%;  /*改變被轉換元素的位置 x軸 y軸*/
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    position: absolute;
    top: -100px;
    left: 12%;
}
.reversal-arrow:hover {
    -webkit-transform: translateX(-10px) rotate(180deg);
    -ms-transform: translateX(-10px) rotate(180deg);
    -o-transform: translateX(-10px) rotate(180deg);
    transform: translateX(-10px) rotate(180deg);
}
.recersal-arrow:hover .link-arrow {
    -webkit-filter: drop-shadow(-2px -1px 1px rgba(0,0,0,0.15));
    -o-filter: drop-shadow(-2px -1px 1px rgba(0,0,0,0.15));
    filter: drop-shadow(-2px -1px 1px rgba(0,0,0,0.15));
}
.animate-text-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    margin: 0;
    pointer-events: painted!important;
    color: #000;
}
.animate-text-content,
.animate-text-content *,
.animate-line,
.animate-line:after {
    -webkit-transition: all linear .35s;
    -o-transition: all linear .35s;
    transition: all linear .35s;
    -webkit-transition-delay: -0.1s;
    -o-transition-delay: -0.1s;
    transition-delay: -0.1s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.animate-text-content h3 {
    pointer-events: none;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 5vw;
    padding-top: 5%;
}
.animate-text-content h3 *,
.animate-text-content h5 * {
    font-size: 30px;
}

.animate-text-content h5 {
    padding: 10px;
    line-height: 22px;
    font-size: 2em;
}
.animate-text-content a {
    font-size: 1.4em;
    display: inline-block;
    padding: 8px;
    opacity: 0;
    -webkit-transform: translateX(-1em);
    -ms-transform: translateX(-1em);
    -o-transform: translateX(-1em);
    transform: translateX(-1em);
    color: #eee;
    line-height: 1;
}

.animate-line {
    display: block;
    width: 100%;
    height: 2px;
    margin: 10px auto;
    content: " ";
    overflow: hidden;
}
.animate-line:after {
    display: block;
    background-color: #ddd;
    content: " ";
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.animate-text-content:hover .animate-line:after,
.animate-text-content *:hover .animate-line:after,
.animate-text-content:hover a{
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
}

.animate-text-content:hover{
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
}
.animate-text-content.no-hover:hover *,
.animate-text-content.no-hover:hover{
    color: inherit!important;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.0);
}
.animate-text-content.no-hover:hover .animate-line:after {
    background-color: #ff8c00;
}
.animate-text-content.no-hover .animate-line {
    margin: 0px auto;
}
/*=========page-info js transition=============*/
.page-info {
    -webkit-transition: all ease-in-out .45s;
    -o-transition: all ease-in-out .45s;
    transition: all ease-in-out .45s;
    -webkit-transform: scale(1.4) translateY(100%); /*scale定義2D縮放轉換,改變元素的寬度和高度*/
    -ms-transform: scale(1.4) translateY(100%);
    -o-transform: scale(1.4) translateY(100%);
    transform: scale(1.4) translateY(100%);
    opacity: 0;
}
.page-info.slideUp {
    -webkit-transform: scale(1) translateY(0%);
    -ms-transform: scale(1) translateY(0%);
    -o-transform: scale(1) translateY(0%);
    transform: scale(1) translateY(0%);
    opacity: 1;
}
/*================img elm=============*/
.avatar {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box; 
    box-sizing: border-box; 
    border-radius: 50%; 
    overflow:hidden;
    margin: 0 10px 10px 0; 
    content: " ";
    background-position: center center; 
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%; 
    vertical-align: top;
}
.avatar img{ display: block; 
    width: 100%;

}
.avatar.size-80 { 
    width: 80px; 
    height: 80px;
}
.avatar.size-60 { 
    width: 60px; 
    height: 60px;
}
.avatar + * { 
    margin-top: 5px;
} 
img.fw-100 {
    display: block; 
    max-width: 100%;
}
.img-inline {
    display: inline-block; 
    float: left;
    min-width: 48%; 
    margin: 5px; 
    cursor: pointer;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.15), 2px 2px 5px rgba(0,0,0,0.05);
}
.img-inline img{ 
    display: block; 
    margin: 0;
    width: 100%;
    max-width: 100%;
}
[role="img"], [role="img"] * {
    -webkit-transition: all ease-in-out .35s;
    -o-transition: all ease-in-out .35s;
    transition: all ease-in-out .35s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; box-sizing: border-box;
}
[role="img"] {
    margin-bottom: 1em; 
    position: relative;
    background-color: mediumvioletred;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.15), 3px 5px 4px rgba(0,0,0,0.08);
}
[role="img"]:hover img { 
    opacity: .7;
}
[role="img"] .img-hover-eft { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    width: 34px; 
    height: 34px;
    overflow: hidden;
}
[role="img"] [class|="icon"] { 
    width: 24px;
    height: 24px; 
    font-size: 16px;
    text-align: center; 
    line-height: 24px; 
    display: inline-block; 
    margin: 5px;
}
[role="img"] [class|="icon"] ~ * {
    padding: 8px;
}
[role="img"] .img-hover-eft:hover { 
    width: 100%;
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    height:100%;
    -webkit-transition-delay: top .2s, left .15s;
    -o-transition-delay: top .2s, left .15s; 
    transition-delay: top .2s, left .15s;
}
.without-magion{ 
    margin: 0;
}
.margin-b {
    margin-bottom: 1em;
}
*[onclick] { 
    cursor: pointer;
    display: inline-block; 
    padding: 5px 0;
    line-height: 1;
}
small.block{ 
    padding: 5px 0;
}
footer h5 { 
    padding-top: 0%;
}
footer h6 { 
    font-size: 1em;
    /*    letter-spacing: 1px;*/
}
/*=========================service===================*/
.nested-link,
.nested-link *,
.nested-link *:after{
    -webkit-transition: all linear .25s;
    -o-transition: all linear .25s; 
    transition: all linear .25s;
}
.nested-link [data-links] { 
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    padding: 12px 2.5% 8px 2.5%; margin-bottom: 1px;
    /*	border-bottom: 1pxsolid#dddddd;*/
    overflow:hidden;
}
.nested-link [data-links="img"] { 
    margin-top: 8px;
    margin-bottom: 8px;
}

.nested-link [data-links]:not([data-links*="img"]):after{ 
    content: '\e811';
    display: inline-block; 
    height: 1px;
    position:absolute; 
    width: 40px;
    height: 40px; 
    right:20%;
    top: calc(50% - 34px); 
    font-family: 'fontello'; 
    font-size: 22px;
    text-align: center; 
    line-height: 40px; 
    opacity: 0;
}
.nested-link [data-links]:hover { 
    background-color: #FDFFFC;
    /*	border-bottom: 1pxsolidrgba(0,0,0,0.0);*/
    box-shadow: 0 1px 1px#666,0 2px 3px #ccc;
}
.nested-link [data-links]:hover:after { 
    opacity: 1;
    right: 3%;

}
.nested-link [data-links] a {
    font-size: 1.3em;
    line-height: 1.4;
}
.nested-link [data-links] small { 
    font-size: 14px;
    line-height: 1;
    color: #999;
}
.nested-link [data-links]:hover a { 
    color: #db137f;
}
.nested-link [data-links]:hover small { 
    color: #313131;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
    .animate-text-content h3 { 
        font-size: 10vw;
    }
    header.	matchBg{
        position: relative; 
        z-index: 0;
        padding: 15vh 0;
    }
    header.bg-elm { 
        height: 90vh;
    }
    .mega-title {
        font-size: 3.8em; 
        line-height: 1.2;
    }
    .mega-title *{ 
        font-size: 30px;
    }
    h1.full-pages-title { 
        font-size: 22vw;
    }
    h1.app-title { 
        font-size: 50vw; 
        line-height: 1;
    }
    .vid-outer:not(.device) * {
        display: none;
    }
    .vid-outer.device {
        /*	display:block;*/
        width: 100%; 
        height:0; 
        padding-top:0;
        padding-bottom: 70%;

    }
    .vid-outer.device * { 
        position: absolute; 
        width: 100%;
        height: 100%; 
        top:0;
        left: 0;
    }


    .match-scrollBar {
        width: calc(100% - 20px)!important;
        min-width: calc(100% - 20px)!important;
    }
    header h1.pd-box{ display: inline-block;
        -webkit-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
        -o-transform: translateY(-70px); 
        transform: translateY(-70px);
    }

    header h1.pd-box .logo-group.fix { 
        width: 180px;
        min-height: 60px;
    }
    headersvg.pd-box { 
        width: 100%; 
        float: left;
        padding: 0 20px;
    }
    .bottom-layer text.small{ 
        font-size:	20.5px;
        word-wrap: break-word;
    }
    svg.content-svg text.small{ 
        font-size:	50px;

    }
    .bottom-layer text{
        -webkit-transform: scale(1.6) translateY(10px) translateX(3px);
        -ms-transform: scale(1.6) translateY(10px) translateX(3px);
        -o-transform: scale(1.6) translateY(10px) translateX(3px);
        transform: scale(1.6) translateY(10px) translateX(3px);
    }
    .bg-elm {
        background-position: 70% center;
        -webkit-background-size: cover; 
        background-size: cover; 
        background-repeat: no-repeat;
        /*	background-attachment:fixed;*/
    }
    #page.bg-elm {
        background-attachment: auto;
        -webkit-background-size: cover; 
        background-size: cover;
        background-position: center bottom;
    }
    .nested-link .flex-no-space-12 {
        -webkit-flex-flow: column wrap;
        -moz-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        -o-flex-flow: column wrap; 
        flex-flow: column wrap; 
        min-height: 3vmin;
        padding-top: 1em;
    }
    .nested-link .flex-no-space-12 +
    .flex-no-space-12 { 
        padding-top: 0;
    }
    .nested-link .flex-no-space-2 { 
        width: 100%;
    }
    .nested-link [data-links] { 
        width: calc(100% - 16px);
        -webkit-flex: 2 1 auto;
        -moz-flex: 2 1 auto;
        -ms-flex: 2 1 auto;
        -o-flex: 2 1 auto;
        flex: 2 1 auto; 
        margin: 0 8px 2px8px;

    }
    .nested-link [data-links="img"] { 
        margin-top: 10px;
        margin-bottom: 10px;
    }
    [role="img"] .img-hover-eft { 
        position: static;
        width: 100%; 
        padding: 15px; 
        height: auto; 
        min-height: 3em; 
        float: left; 
        display: block;
    }

    [role="img"] .img-hover-eft:hover { 
        width: 100%;
        height: auto;
        -webkit-transition-delay: top .2s, left .15s;
        -o-transition-delay: top .2s, left .15s;
        transition-delay: top .2s, left .15s;
    }
    .animate-text-content a { 
        font-size: 1.4em; 
        display: inline-block; 
        padding: 30px;
        opacity: 1;
        -webkit-transform: translateX(0em);
        -ms-transform: translateX(0em);
        -o-transform: translateX(0em); 
        transform: translateX(0em);
        color: #eee; line-height: 1;
    }
    .svg-logo.sub {
        width: 70%;
        min-width: 240px;
        display: inline-block;
        margin: 5px auto 0 0;
    }
  

}

@media screen and (min-width: 641px) and (max-width: 800px) {
    .animate-text-content h3 { 
        padding: 15% 0;
    }
    footer .fx-item-4:last-of-type { 
        text-align: center;
    }
    footer h5 { 
        padding-top: 8%;
    }
    .img-inline {
        display: inline-block; 
        float: left;
        width: 21%;
        min-width: 21%;
        margin: 2%; 
        cursor: pointer;
        box-shadow: 1px 1px 0 rgba(0,0,0,0.15), 2px 2px 5px rgba(0,0,0,0.05);
    }
    [role="img"] {
        margin-bottom: 8px!important;
    }
    [role="img"] [class|="icon"] {
        width: 40px;
        height: 40px; 
        font-size: 24px;
        text-align: center; 
        line-height: 40px;
        display: block; 
        margin: 5px auto;

    }
    [role="img"] [class|="icon"] ~ * { 
        padding: 5px;
        display: block; 
        font-size: 14px; 
        text-align: center;
    }
}
@media screen and (min-width: 300px) and (max-width: 640px) {
    .animate-text-content h3 { 
        padding: 10% 0 0 0;
    }
    .animate-text-content h3 * {
        /*	font-size:26px;*/
    }
    .animate-text-content h3 + h5{ 
        padding: 0;
    }
    footer * {
        text-align: center!important;
    }
    footer .fx-item-4 { 
        text-align: center;
    }
    footer h5 { 
        padding-top: 0%;
    }

    footer h5 span { 
        padding-top: 2%;
        font-size: 1.5em;
    }

    .img-inline {
        display: inline-block; 
        float: left;
        width: 46%;
        min-width: 46%;
        margin: 2%; 
        cursor: pointer;
        box-shadow: 1px 1px 0 rgba(0,0,0,0.15), 2px 2px 5px rgba(0,0,0,0.05);
    }
    [role="img"] [class|="icon"] { 
        width: 40px;
        height: 40px; 
        font-size: 22px;
        text-align: center; 
        line-height: 40px; 
        display: inline-block; 
        margin: 5px;
        vertical-align: middle;

        background-color: #2498fc;
    }
    [role="img"] [class|="icon"] ~ * { 
        padding: 8px;
        display: inline-block; 
        vertical-align: middle;
    }
}
@media screen and (min-width: 300px) and (max-width: 640px)
    and (orientation: landscape) {
        /*===========svg text setting==========*/
        .bottom-layer svg {
            margin-top: 0;
        }
        .bottom-layer text{
            -webkit-transform: scale(1.1) translateY(-3px) translateX(3px) ;
            -ms-transform: scale(1.1) translateY(-3px) translateX(3px) ;
            -o-transform: scale(1.1) translateY(-3px) translateX(3px) ;
            transform: scale(1.1) translateY(-3px) translateX(3px) ;
        }
        .bottom-layer text .small {
            display: block;
            font-size: 15.5px;
        }
}



